circoloprivato/target/classes/it/paleocapa/bresciani/circoloPrivato.class
circoloprivato/target/classes/it/paleocapa/bresciani/Main.class
circoloprivato/target/classes/it/paleocapa/bresciani/Socio.class
circoloprivato/target/test-classes/it/paleocapa/bresciani/CircoloPrivatoTest.class
